<h1>this is the show view!</h1>
<div class="container">
  <div class="row">
    <div class="column fourth">
      <p>Title:</p><%= @tradeshow.title %>
    </div>
    <div class="column fourth">
      <p>Description:</p><%= @tradeshow.description %>
    </div>
    <div class="column fourth">
      <p>Date:</p><%= @tradeshow.date %>
    </div>
    <div class="column fourth">
      <p>Location:</p><%= @tradeshow.location %>
    </div>
  </div>
</div>
<div class="spacer-xl"></div>
<div class="container stacking">
  <div class="row">
    <div class="column fourth">
      <%= link_to "Edit", edit_admin_tradeshow_path(@tradeshow), class: "button" %>
    </div>
    <div class="column fourth">
      <%= link_to "Delete", admin_tradeshow_path(@tradeshow), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "button button-delete" %>
    </div>
  </div>
</div>
