<div class="wrapper">

     <div class="map-content">
         <div id="map" style="width:100%;"></div>
     </div>

     <div class="tradeshow-content">
       <div class="container">
         <ul class="tradeshows">
        <% @tradeshows.each do |tradeshow| %>
         <div class="spacer"></div>
         <div class="card">
           <%= content_tag :li, id: tradeshow.venue_id do %>
             <a href="#">
               <img class="media-object" src="http://placehold.it/64x64" alt="...">
             </a>
             <h4 class="media-heading">
               <%= tradeshow.title %>
             </h4>
             <p> <%= tradeshow.location %> </p>
             </div>
             <% end %>
          <% end %>
          <%= will_paginate @tradeshows %>
        </ul>
       </div>
     </div>

   </div>


<script>
$(document).ready(function(){
  handler = Gmaps.build('Google', { markers: { do_clustering: true  } });
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

      $(".card li").on("click", function() {
        i = $(this).attr("id");
        marker = _.find(markers, function(obj) { return obj.title == i })
        var map = handler.map
        marker.infowindow.open(map, marker.serviceObject);
        });
      });
   });

</script>
