<div class="wrapper">

     <div class="map-content">
         <div id="map" style="width:100%;"></div>
     </div>

     <div class="tradeshow-content">
       <div class="container">
         <ul class="tradeshows">
        <% @tradeshows.each do |tradeshow| %>
         <div class="spacer"></div>
         <div class="card">
           <%= content_tag :li, id: tradeshow.venue_id do %>
             <a href="#">
               <img class="media-object" src="http://placehold.it/64x64" alt="...">
             </a>
             <h4 class="media-heading">
               <%= tradeshow.title %>
             </h4>
             <p> <%= tradeshow.location %> </p>
             </div>
             <% end %>
          <% end %>

        </ul>
       </div>
     </div>
     <div class="spacer"></div>
       <div class="page-links">
         <%= will_paginate @tradeshows %>
       </div>
   </div>


<script>
$(document).ready(function(){
  handler = Gmaps.build('Google', { markers: { do_clustering: true  } });
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers_json = <%=raw @hash.to_json %>;
    markers = _.map(markers_json, function(marker_json){
      marker = handler.addMarker(marker_json)
      _.extend(marker, marker_json);
      return marker;
    });
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

      $(".card li").on("click", function() {

        var i = $(this).attr("id");
        var related_marker;

        related_marker = markers.filter(function(m) { return m.id == i; })[0]
          related_marker.open(handler.map, related_marker.serviceObject);
        });
      });
   });

</script>
