<!DOCTYPE html>
<html>
<head>
  <title>MarketplaceApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel="stylesheet" type="text/css"></link>
</head>
<body>
<%= render 'layouts/flash' %>
<%= yield %>

</body>
</html>
